@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

body {
  font-family: "Kanit-Light", sans-serif;
}

* {
  font-family: "Kanit-Light", sans-serif;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
html {
  line-height: 1.4;
  font-weight: 400;
  font-family: 'Kanit-Light', sans-serif;
  -webkit-text-size-adjust: 100%;
}
body {
  
  margin: 0;
  font-family: 'Kanit-Light', sans-serif;
}
header {
  color: white;
  padding: 1em;
  background: #4169E1;;
  
}
header h1 {
  margin: 0;
}
/* header nav {
  display: block;
  overflow: hidden;
}
header nav a {
  display: inline-block;
  padding: .75em;
  color: white;
  font-weight: 600;
  text-transform: lowercase;
  width: 33.33%;
  float: left;
}
a {
  outline: none;
  text-decoration: none;
} */
footer {
  color: white;
  padding: 2em;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .5em 0;
  letter-spacing: -.02em;
}

p {
  margin: 0;
}
p + p {
  margin-top: .75em;
}
/* div {
  padding: 1.5em;
  background: white;
} */


main {
 
  padding-bottom: 1.5em;
}
main section,
main aside {
  padding: 1.5em;
  padding-bottom: 0;
}
main article {
  padding: 1.5em;
  background: white;
  border-radius: 0.25rem;
}
main article p {
  color: indianred;
  line-height: 1.5;
}
.capsule {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightpink;
  width: 40%;
}
.capsule  + .capsule {
  border-top: none;
}
.capsule:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.capsule:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media (min-width: 800px) {
  header,
  main {
    overflow: hidden;
  }
  main section,
  main aside {
    float: left;
    width: 40%;
  }
  main section {
    width: 60%;
    padding-right: 0;
  }
  header h1 {
    float: left;
  }
  header nav {
    float: right;
  }
}

.register-input{
    width: 100%;
    height: 60px;
    font-size: 15px;
    padding: 0 30px 0 53px;
    	-moz-border-radius:28px;
  /* -webkit-border-radius:28px; */
  border-radius: 0.25rem;
    border: 1px solid #ced4da;
}

.container_1{
    margin: 0 auto;

}

.border-shadow{
    box-shadow: 0 0 8px 0 rgba(141,151,158,.2);
    border: solid 1px #eee;

}

.form-check{
padding: 30px 0;

margin: auto;
}

.form-register{
 
padding: 30px 0;

margin: auto;
}

.form-input{
    width: 80%;
    padding: 5px;
    margin: auto;

}

.myBtn{
    width: 250px;
    background-color: #0060ab;
    border-color: #0060ab;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    color: white;
    
}



.topnav {
  overflow: hidden;
  background-color: #4169E1;
  height: 65px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 21px 16px;
  text-decoration: none;
  font-size: 17px;
  text-decoration:none;
}

.topnav a:hover {
  background-color: 	#6495ED;
  
  text-decoration:none;
}

.topnav a.active {
  
  color: white;
  text-decoration:none;
}

.topnav-right {
  float: right;
}

.btn-center{
  text-align: center;
  padding: 20px;
}

.col-left{
  text-align: left;
  padding-right: 0;
  
}

.col-border{
  border: 1px solid;
  border-color: slategray;
  padding-right: 0;
}

.checkbox-mid{
padding-top: 4;
padding-left: 30;
}

.logo-circle{
  width: 200px;
  
}

.typo-content{
  text-align: right;
}

.padding-data{
  padding-right: 15px;
  padding-left: 15px;
}

